html {
  font-family: 'Raleway', sans-serif;
  }

#thermostat {
  background-color: #fd2eb3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat Subrayada', sans-serif;
}

button {
  font-family: 'Raleway', sans-serif;
  background-color: skyblue
}

.boxed {
  border: 1px solid black ;
  padding: 4px;
  width: 50%;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #61d4b3;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #fdd365;
  padding: 20px;
  label[for=PSM] { 
    font-size: 200%;
 }
}

label[for=PSM] { 
  font-size: 200%;
 }


article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #fdd365;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #fb8d62;
  padding: 10px;
  text-align: center;
  color: white;
}
